<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConvertMovies.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConvertMovies.Properties.Settings>
            <setting name="HandBrakeLocation" serializeAs="String">
                <value>I:\Program Files\Handbrake\HandBrakeCLI.exe</value>
            </setting>
            <setting name="TempPath" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="LogToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SourcePath" serializeAs="String">
                <value>E:\AHT1</value>
            </setting>
            <setting name="DestinationPath" serializeAs="String">
                <value>H:\Movies</value>
            </setting>
            <setting name="HandbrakeSettings" serializeAs="String">
                <value>-i "{0}" -t 1 --angle 1 -c 1-19 -o "{1}"  -f mp4  -4  --decomb -w 720 --loose-anamorphic  --modulus 2 -e x264 -q 20 --vfr -a 1,1 -E faac,copy:ac3 -6 dpl2,auto -R Auto,Auto -B 160,0 -D 0,0 --gain 0,0 --audio-fallback ffac3 -s scan -F --subtitle-burned -N dut  --x264-profile=high  --h264-level="4.1"  --verbose=1</value>
            </setting>
        </ConvertMovies.Properties.Settings>
    </userSettings>
</configuration>